body{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1280px;
	min-width: 1280px;
}
div {
  width: 400px;
}
a:link, a:visited { 
    color: #0000A0;
	font-weight:bold;
    text-decoration: underline;
    cursor: auto;
}
.content img  {
	width: 150px;
	margin-left: 20px;
	float: left;
}
div.inquiryinfo {
	word-wrap: break-word;
}
div.aboutme {
	word-wrap: break-word;
}
/*= HEADER & NAVIGATION
--------------------------------------------------------*/
#header { 
	width: 100%; 
	background: url('../img/header-bg.png'); 
	height: 80px; 	
	position: fixed;
    z-index: 9999;
    max-width: 1280px;
}
#logo a { 
	color: #fff; 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 20px;
	margin-left: 10px;  
	font-family: "Poiret One"; 
	font-weight: bold; 
}
#nav { 
	width: 400px; 
	float: right; 
	margin-top: 20px;
	padding-right: 20px;
}
#logo a { 
	color: #0000A0; 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 20px;
	margin-left: 10px;  
	font-family: "Poiret One"; 
	font-weight: bold; 
}
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
	width: 100%;
}
#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}
#nav li a { 
	color: #0000A0; 
	opacity:0.6; 
	font-size: 18px; 
	text-decoration: none; 
	font-family: "Poiret One"; 
}
#nav li a.active { 
	color: #0000A0; 
	opacity:1; 
	border-bottom: 2px solid #fff; 
}
#nav li a:hover { 
	color: #0000A0; 
	opacity:1;  
}
